body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    background:linear-gradient(rgb(236, 110, 110) 0%, rgb(131, 131, 216) 100%) ;
}

.profile {
    border-radius: 50%;

}

#welcome {
    position: absolute;
    bottom: 0;
    display:table;
    
}

h1 {

    font-size: 40px;
    font-family: cursive;
    font-weight: 300;

}

#name {
    font-size: 50px;
    font-family: 'Cinzel Decorative', cursive;

}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}

#bio {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 300px;
    margin: 8px auto;
}

.parallax-inner {

    display: table-cell;
    vertical-align: top;
}

.menu {
    position: fixed;
    background: rgb(243, 214, 214);
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: cursive;
    font-size: 20px
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

a {
    text-decoration: none;
}
img{
    width: 30%;
    height: 30%;
}

#imagens a {
    text-decoration: underline !important;
    color: rgb(0, 13, 128) !important;
}

#contact{
    background:rgb(131, 131, 216);
}

#contact iframe{
    width: 50%;
}

.contact_1 h3
{
    display: inline;
    color: #000;
}
i{
    color: #000;
}

